.checkbox-wrapper {
  display: flex;
  cursor: pointer;
}

.checkbox {
  width: 1.625em;
  height: 1.625em;
}

.paddingLeft {
  padding-left: 0.75em;
}

.titleText {
  font-size: 1.125em;
  font-weight: var(--font-medium);
  padding-right: 0.75rem;
  color: var(--grey-700);
}
