:root {
  /* colors */
  --white: white;
  --grey-200: #edf3f7;
  --grey-300: #e0e8f0;
  --grey-500: #9faebf;
  --grey-600: #738195;
  --grey-700: #485465;
  --grey-900: #1d2a37;
  --red-700: #cb2d34;
  --green-700: #14855d;
  --blue-100: #e7f6fe;
  --blue-200: #c5e6fd;
  --blue-300: #91cbfc;
  --blue-400: #63b6fb;
  --blue-500: #028ff5;
  --blue-600: #297fd0;
  /* other */
  --font-small: 400;
  --font-medium: 500;
  --font-Xlarge: 700;
  /* font size */
  --font-size-Xsmall: 0.875em;
  --font-size-small: 1em;
  --font-size-medium: 1.125em;
}

.app {
  padding: 0 1em;
  color: var(--grey-900);
  max-width: 80em;
  margin: 0 auto;
}

.buttonsWrapper {
  justify-content: space-between;
  display: flex;
}
